*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  border-radius: 5px;
  background-color: rgb(209, 239, 239);
}
.btn {
  color: white;
  background-color: rgb(43, 126, 235);
  padding: 0.7rem 1rem;
  margin: 1rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.button-box {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  padding: 1rem 2rem;
  background-color: rgb(36, 37, 38);
  color: white;
  border-radius: 5px;
  display: inline-block;
  border: none;
  cursor: pointer;
  margin: 2rem;
}

.active {
  background: rgb(8, 12, 212);
}
